<%-include('./partials/header')%>
<%-include('./partials/navbar')%>

<body class="bg-light">
    <div class="container mt-5 fs-5">
        <form action="/add/todo" method="POST" class="d-flex ">
            <input type="text" class="form-control mx-3 shadow-sm fs-5" name="todo" placeholder="Enter Todo">
            <input type="submit" value="Add Todo" class="btn btn-primary shadow-sm">
        </form>
        <ul class="list-group my-5 position-relative ">
            <%todo.forEach(todos=>{%>
            <li class="list-group-item d-flex justify-content-between px-5 my-1 shadow-sm "><input type="checkbox"
                    style="transform: scale(1.1); " class="form-check-input  position-absolute  top-40 start-0 mx-2  "
                    id="exampleCheck1"><%=todos.todo%><a href="/delete/todo/<%=todos._id%>"
                    class="btn-sm btn-danger text-decoration-none">Delete</a></li>

            <%})%>
        </ul>
    </div>
    <%- include('./partials/footer.ejs') %>